---
import { ClientRouter } from "astro:transitions"

interface Props {
  description?: string
  title: string
}

const { title, description: originalDescription = "Con ejercicios practicos" } =
  Astro.props
const description = `Curso de React gratuito - ${originalDescription}`
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Miguel Ángel Durán" />
    <meta
      name="keywords"
      content="javascript, react, reactjs, midudev, js, programación, desarrollo web"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="theme-color" content="#f7df1e" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@midudev" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://cursoreact.dev/og.jpg" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://cursoreact.dev/og.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cursoreact.dev" />
    <link rel="canonical" href="https://cursoreact.dev" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ClientRouter />
  </head>
  <body>
    <a
      href="#main-content"
      class="sr-only focus:not-sr-only bg-yellow-200 text-black p-2 absolute top-2 left-2 z-50 rounded"
      >Saltar al contenido principal</a
    >
    <main id="main-content">
      <slot />
    </main>
    <style is:global>
      @import "tailwindcss";
      @plugin "@midudev/tailwind-animations";
      @plugin "@tailwindcss/typography";

      html {
        font-family: system-ui, sans-serif;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
